# ─── Server ───────────────────────────────────────────────────────────────────
NODE_ENV=development
PORT=3001

# ─── MongoDB ──────────────────────────────────────────────────────────────────
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.example.mongodb.net/TrueFraction?retryWrites=true&w=majority

# ─── Pinata / IPFS ────────────────────────────────────────────────────────────
PINATA_JWT=
GATEWAY_URL=

# ─── Blockchain ───────────────────────────────────────────────────────────────
PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=

# ─── Blockpass KYC ────────────────────────────────────────────────────────────
BLOCKPASS_API_KEY=
BLOCKPASS_SERVICE_ID=
